<div class="wrapper wrapper-style2">
	<article id="work">
		<header>
			<h2>I design and build amazing things.</h2>
			<span>Odio turpis amet sed consequat eget posuere consequat.</span>
		</header>
		<div class="container">
			<div class="row">
				<div class="4u">
					<section class="box box-style1">
						<span class="icon featured-icon icon-comments-alt"></span>
						<h3>Consequat lorem</h3>
						<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
					</section>
				</div>
				<div class="4u">
					<section class="box box-style1">
						<span class="icon featured-icon icon-file-alt"></span>
						<h3>Lorem dolor tempus</h3>
						<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
					</section>
				</div>
				<div class="4u">
					<section class="box box-style1">
						<span class="icon featured-icon icon-thumbs-up"></span>
						<h3>Feugiat posuere</h3>
						<p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
					</section>
				</div>
			</div>
		</div>
		<footer>
			<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
			<a href="#portfolio" class="button button-big">See some of my recent work</a>
		</footer>
	</article>
</div>